doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TOTEMBO
        link(rel="stylesheet", href="style/style.css")
    body 
        header.header.container
            .header-nav
                h1.logo TOTEMBO
                ul.header-nav-list
                    li
                        a(href="#") Часы
                    li
                        a(href="#") Кольца
                    li
                        a(href="#") Серьги
                    li
                        a(href="#") Браслеты
                    li
                        a(href="#") Клатчи
                    li
                        a(href="#") Цепочки
                ul.header-nav-links 
                    li
                        a(href="#")
                            span ru
                    li
                        a(href="#")
                            img(src="img/favourites.svg", alt="")
                    li
                        a(href="#")
                            img(src="img/cart.svg", alt="")
                    li
                        a(href="#")
                            img(src="img/account.svg", alt="")
                    li
                        a(href="#")
                            img(src="img/search.svg", alt="")
            .header-content 
                .header-content__left       
                    a.card(href="#") 
                        span.label 50%
                        img(src="img/header1-img.png", alt="")
                        .card-content 
                            span Мужские часы 
                            h3 Pierre Lannier
                            span 1 280 000 UZS
                    a.card(href="#") 
                        span.label 20%
                        img(src="img/header2-img.png", alt="")
                        .card-content 
                            span Мужские часы 
                            h3 Swiss Military Chrono
                            span 1 280 000 UZS
                a.card(href="#") 
                    span.label 50%
                    img(src="img/header3-img.png", alt="")
                    .card-content 
                        span Черная мужская серьга
                        h3 Diadema grand
                        span 95 000 UZS        
        main.main.container
            section.leaders             
                h2.main-title Лидеры продаж
                .leaders-cards
                    a.card(href="#") 
                        span.label NEW
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders1-img.png", alt="")
                        span Мужские часы 
                        h3 Cartier
                        span 1 300 000 UZS
                    a.card(href="#") 
                        span.label 15%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders2-img.png", alt="")
                        span Мужские часы 
                        h3 Audemars Piguet
                        span 1 420 000 UZS
                    a.card(href="#") 
                        span.label 30%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders3-img.png", alt="")
                        span Мужские часы 
                        h3  Tag Heuer Carrera Space
                        span 1 120 000 UZS
                    a.card(href="#") 
                        span.label 10%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders4-img.png", alt="")
                        span Мужские часы 
                        h3 L Duchen
                        span 950 000 UZS
                    a.card(href="#")
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders5-img.png", alt="")
                        span Мужские часы 
                        h3 Rolex
                        span 2 450 000 UZS
                    a.card(href="#")
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders6-img.png", alt="")
                        span Мужское кольцо  
                        h3 Spikes
                        span 1 450 000 UZS
                    a.card(href="#") 
                        span.label 50%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders7-img.png", alt="")
                        span Мужские часы 
                        h3 Pierre Lannier
                        span 1 280 000 UZS
                    a.card(href="#") 
                        span.label 20%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders8-img.png", alt="")
                        span Мужское кольцо 
                        h3 TIAMO
                        span 1 000 000 UZS
                    a.card(href="#") 
                        span.label 30%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders9-img.png", alt="")
                        span Мужские часы 
                        h3  Tag Heuer Carrera Space
                        span 1 120 000 UZS
                    a.card(href="#")
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders10-img.png", alt="")
                        span Мужской браслет
                        h3 Montblanc
                        span 845 000 UZS
                    a.card(href="#") 
                        span.label 10%
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders11-img.png", alt="")
                        span Мужские часы 
                        h3 Jaeger-LeCoultre
                        span 2 450 000 UZS
                    a.card(href="#")
                        .leaders-card__hover-icons
                            img(src="img/leaders-hover-img1.svg", alt="")
                            img(src="img/leaders-hover-img2.svg", alt="")
                        img(src="img/leaders12-img.png", alt="")
                        span Мужские часы 
                        h3 HOCKEY
                        span 750 000 UZS
                a(href="#") Еще   
            section.news
                h3.main-title Последние новости
                .news-cards 
                   a.news-cards-link(href="#") 
                        span.label Советы
                        img(src="img/news1-img.png", alt="")
                        .news-cards-link-content 
                            h3 Как выбрать первые японские часы – советы эксперта
                            p Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...
                            div 
                                img(src="img/time.svg", alt="")
                                span 19.04.2021 | 17:30
                   a.news-cards-link(href="#") 
                        span.label Советы
                        img(src="img/news2-img.png", alt="")
                        .news-cards-link-content 
                            h3 HAIQIN Мужские роскошные механические часы 
                            p Водонепроницаемые часы с двойным турбийоном мужские автоматические часы — купить товар онлайн с бесплатной доставкой до всему миру!
                            div 
                                img(src="img/time.svg", alt="")
                                span 20.05.2021 | 18:30
        footer.footer 
            .container 
                .footer-nav__left 
                    h1.logo TOTEMBO
                    ul.footer-nav-list 
                        li
                            a(href="") Скидки
                        li
                            a(href="") Блог
                        li
                            a(href="") Частые вопросы
                        li
                            a(href="") Доставка
                        li
                            a(href="") Гарантия 
                        li
                            a(href="") Возврат
                .footer-nav__right
                    h4.footer-title Товары
                    ul.footer-nav-list 
                        li
                            a(href="") Часы
                        li
                            a(href="") Кольца
                        li
                            a(href="") Серьги   
                        li
                            a(href="") Браслеты
                        li
                            a(href="") Клатчи 
                        li
                            a(href="") Цепочки
                .footer-info
                    h4.footer-title Контакты
                    .footer-info-contacts 
                        span Ул. Аския, Яккасарайский район, Ташкент, Узбекистан
                        div
                            a(href="tel:+998977777797") +998 97 777 77 97
                            a(href="tel:+998977777997") +998 97 777 79 97
                        a(href="mailto:totembo@exapmle.com") totembo@exapmle.com
                    .footer-info-socials
                        h5.footer-title СОЦИАЛЬНЫЕ СЕТИ
                        div 
                            a(href="#")
                                img(src="img/f.svg", alt="")
                            a(href="#")
                                img(src="img/i.svg", alt="")
                            a(href="#")
                                img(src="img/t.svg", alt="")
